@charset "UTF-8";
/* stylelint-disable color-hex-length */

/* Utilities */

/* see: https://css-tricks.com/books/volume-i/scale-typography-screen-size/ */
@function calculate-dynamic-font-size($min-size-em, $max-size-em) {
  @return calc(#{$min-size-em} - #{$max-size-em/1em - $min-size-em/1em} * (100vw - #{map-get($grid-breakpoints, "sm")}) / #{ map-get($grid-breakpoints, "lg")/1px - map-get($grid-breakpoints, "sm")/1px});
}

/*
 We keep this for an eventual uThere is a bug with Moodle PostCSS processor, that prevent using complex expression in calc expressions so we have
 to thread carefully https://tracker.moodle.org/browse/MDL-61879
*/

/*
  Fixes
 */

.dropdown-item a {
  display: block;
  width: 100%;
  color: $dropdown-link-color;
}


.jschooser .choosercontainer #chooseform .alloptions .option .typename {
  width: auto;
}

/*
 * Navigation bar colors and layout.
 */
.navbar {
  background-color: $savoir-darkgrey;
  padding-left: initial;

  div.logo {
    background-color: $primary;
    width: $drawer-width;
    height: $navbar-height; // For FFX
  }

  .savoir-site-name {
    font-weight: bolder;
    color: white;
  }

  .usermenu {
    a.dropdown-toggle, .login a {
      color: $navbar-dark-active-color;

      @include hover-focus {
        color: $navbar-dark-active-color;
      }
    }

    .dropdown-menu {
      width: 100%;
    }
  }

  /*  .dropdown.nav-item.show {
      background: $dropdown-bg;
    }
  */
}

[data-region="drawer-toggle"] {
  width: $drawer-width;
  @media (max-width: map-get($grid-breakpoints, "md")) {
    width: auto;
  }

  .drawer-img {
    max-height: 35px; /* To be consistent with front page logo size */
  }

  button {
    padding: 7px;
    border: none;
    width: 100%;

    &:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

[data-region="drawer"] {
  padding-left: initial;
  padding-right: initial;
  background-color: $primary;

  .list-group-item {
    background-color: $primary;
    color: white;
    border: none;
  }

  .list-group-item.active {
    background-color: darken($primary, 10%);
  }

  z-index: $zindex-navbar-fixed + 1; // Avoid the drop shadow
}

.card {
  border: none;
  background: none;
  box-shadow: none;
}

.card-body {
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
  border-top: 3px solid $primary;
}

.card-header {
  background-color: $primary;
  color: white;
}

/* Front page layout */
#page-site-index {
  #page-wrapper {
    background-image: linear-gradient(298deg, #a12365, #ff8d00)
  }

  .card-body {
    box-shadow: none;
    border-top: none;
  }

  .card {
    color: white;

    a {
      color: white;
      @include hover-focus {
        color: white;
      }
    }

    .site-frontpage-slogan {
      max-width: 20em;
      text-align: center;
    }

    .site-frontpage-title {
      font-size: 4vw;
      @media (max-width: map-get($grid-breakpoints, "md")) {
        font-size: xx-large;
      }
      font-weight: bold;
    }

    .connect-button {
      border-radius: 3px;
      border: solid 2px var(--white);
      font-size: x-large;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      font-variant: small-caps;
      padding: 0.5em 4em;
      @media (max-width: map-get($grid-breakpoints, "md")) {
        padding: 0.25em 2em;
      }
    }

    min-height: initial;
  }
}

/* Dashboard */
.blockdb-doubleblock {
  width: 50%;
}

.blockdb-singleblock {
  width: 100%;
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .blockdb-doubleblock {
    width: 100%;
  }
}

.block_calendar_month {
  table.minicalendar {
    width: 100%;

    caption.calendar-controls {
      text-align: center;
    }
  }
}